# Settings-File for local settings. Copy this template to 'local.cmake' and adjust the
# paths and settings to your needing.

# Enable verbose output of Makefile-Commands.
#set(CMAKE_VERBOSE_MAKEFILE 1)

# Python and serial.tools.miniterm is required for serial monitor functionality.
set(PYTHON "C:/Python/Python37/python")

# Serial monitor configuration. Used by target 'monitor and 'fmonitor'.
set(PORT COM18)
set(BAUDRATE 115200)

# Path to avrdude. Used by target 'flash'.
set(AVRDUDE avrdude)
set(AVRDUDE_PROGRAMMER arduino) # list devices with `avrdude -c ?`
set(AVRDUDE_PART m328p) # list parts with `avrdude -p ?`

# Arduino target MCU setup
SET(C_DEBUG -gstabs)
#SET(C_WARN "-Wall -Wno-strict-prototypes")
SET(C_WARN -Wall)
SET(C_TUNING -ffunction-sections -fdata-sections -MMD)
SET(CXX_TUNING -fpermissive -fno-exceptions -ffunction-sections -fdata-sections -fno-threadsafe-statics)
SET(C_OPT -Os -g)
#SET(C_INCLUDES "-I${ArduinoCode_SOURCE_DIR}/libarduinocore")
SET(MCU -mmcu=atmega328p)
set(MCU_TYPE __AVR_ATmega328P__)
SET(C_DEFS -DF_CPU=16000000L -DARDUINO=10809 -DARDUINO_AVR_UNO -DARDUINO_ARCH_AVR)
SET(CXX_FLAGS )

# Link this 'library' to set the arduino compile-time options requested
add_library(arduino_options INTERFACE)
target_compile_features(arduino_options INTERFACE cxx_std_17)
target_compile_options(arduino_options
        INTERFACE $<$<COMPILE_LANGUAGE:C>:   ${MCU} ${C_TUNING} ${C_DEBUG} ${C_INCLUDES} ${C_OPT} ${C_WARN} ${CSTANDARD} ${CEXTRA}>
        INTERFACE $<$<COMPILE_LANGUAGE:CXX>: ${MCU} ${C_TUNING} ${C_DEBUG} ${C_INCLUDES} ${C_OPT} ${C_WARN} ${CXX_TUNING} ${CXX_FLAGS}>
        )
target_compile_definitions(arduino_options INTERFACE ${MCU_TYPE} ${C_DEFS})
target_link_options(arduino_options INTERFACE
        $<$<COMPILE_LANGUAGE:C>:   ${MCU} ${C_WARN} ${C_OPT}>
        $<$<COMPILE_LANGUAGE:CXX>: ${MCU} ${C_WARN} ${C_OPT}>
        )
